<!-- <br> 
<footer>    
    <br><br>
    <div>
        <img src="assets/images/insightlogovector.png" class="img-fluid" id="foot-image" >
        <p id="footer-text" >
            COPYRIGHT © 2021 INSIGHT, IIT BOMBAY
        </p>
    </div>
</footer> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="text-center my-4">
                <footer>
                    <img src="assets/images/insightlogovector.png" class="img-fluid text-center" id="foot-image">
                </footer>
            </div>
            <div class="text-center my-1" id="footer_text">
                COPYRIGHT &copy; 2021 INSIGHT, IIT BOMBAY
            </div>
        </div>
    </div>
</div>
