  <!-- <div id="main">
  <div id="mainpg">
       <img class="img-fluid" src="assets/images/landingpage.png" alt="">
   </div>
   <div class="container-fluid row">
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/academics" routerLinkActive="active" class="btn" id="btn-1">Academics</a></div> 
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/career" routerLinkActive="active" class="btn" id="btn-2">Career</a></div>
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/lifestyle" routerLinkActive="active" class="btn" id="btn-3">Lifestyle</a></div>
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/personal" routerLinkActive="active" class="btn" id="btn-4">Personal</a></div>
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/extracurricularies" routerLinkActive="active" class="btn" id="btn-5">Extracurricularies</a></div>
        <div id="tabs" class="col-md-2 col-lg-2"><a routerLink="main/miscellaneous" routerLinkActive="active" class="btn" id="btn-6">Miscellaneous</a></div>
    </div>
</div>
  -->

<!-- <div class="background">
    <img src="assets/images/landingpage.png" class="img-fluid">
        <div class="container">
            <div class="items" id="item-1">
                <a routerLink="main/academics" routerLinkActive="active" class="btn" id="btn-1">Academics</a>
            </div>
            <div class="items" id="item-2">
                <a routerLink="main/career" routerLinkActive="active" class="btn" id="btn-2">Career</a>
            </div>
            <div class="items" id="item-3">
                <a routerLink="main/lifestyle" routerLinkActive="active" class="btn" id="btn-3">Lifestyle</a>
            </div>
            <div class="items" id="item-4">
                <a routerLink="main/personal" routerLinkActive="active" class="btn" id="btn-4">Personal</a>
            </div>
            <div class="items" id="item-5">
                <a routerLink="main/extracurriculars" routerLinkActive="active" class="btn" id="btn-5">Extracurriculars</a>
            </div>
            <div class="items" id="item-6">
                <a routerLink="main/miscellaneous" routerLinkActive="active" class="btn" id="btn-6">Miscellaneous</a>
            </div>
        </div> 
</div> -->
<div class="background">
    <img src="assets/images/insightlogovector.png" alt="logo" class= "img-fluid logo">
    <br>
    <h2 class="text-center heading1"> <b> A (MINI) GUIDE TO MANAGEMENT STUDIES </b> </h2>
    <h2 class="text-center heading2">US Chapter</h2>
    <img src="assets/images/landing_page3.png" class="img-fluid bg">
        <div class="container">
            <div class="items" id="item-1">
                <a routerLink="main/academics" routerLinkActive="active" class="btn" id="btn-1">Introduction</a>
            </div>
            <div class="items" id="item-2">
                <a routerLink="main/lifestyle" routerLinkActive="active" class="btn" id="btn-1">Application <br> Process</a>
            </div>
            <div class="items" id="item-3">
                <a routerLink="main/personal" routerLinkActive="active" class="btn" id="btn-1">Chosen MBA <br> Schools </a>
            </div>
            <div class="items" id="item-4">
                <a routerLink="main/extracurriculars" routerLinkActive="active" class="btn" id="btn-1">Tips</a>
            </div>
            <div class="items" id="item-5">
                <a routerLink="main/miscellaneous" routerLinkActive="active" class="btn" id="btn-1">MBA Survey</a>
            </div>
        </div> 
</div>