<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="my-4" id="mainhead1">Application Process</h1>
        </div>
    </div>

    <div class="row content" id="row_a">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead1">
               When to start?
            </div>
            <div class="row data" id="data-1">
                There are three stages of the admissions process: pre-application, application and post-application.
            </div>
            <div class="row quote my-3" id="quote-1">
                “If you are considering a US business school, you should start thinking about how to best present your 
                profile and candidacy a couple of years before application. This would allow you to identify strengths 
                and major gaps in your profile ( employer brand, recommenders, volunteer work, GPA), and give you ample 
                time to strengthen or course correct.”
            </div>
            <div class="row author float-right" id="author1">
                - Parul Purwar, Kellogg School of Management
            </div>
            <br>
            <div class="row data my-3" id="data-2">
                The<b>&nbsp; pre-application process &nbsp;</b>is when you research and decide which MBA program is best for you.
                <ul>
                    <li>Consult USA MBA rankings</li>
                    <li>Review programs</li>
                    <li>Attend open house events and visit campuses, if possible</li>
                </ul>
            </div>
            <div class="row quote my-2" id="quote-2">
                “If you are considering a US business school, you should start thinking about how to best present your 
                profile and candidacy a couple of years before application. This would allow you to identify strengths 
                and major gaps in your profile ( employer brand, recommenders, volunteer work, GPA), and give you ample 
                time to strengthen or course correct.”
            </div>
            <div class="row author float-right" id="author2">
                - Kriti Gupta, Harvard Business School
            </div>
            <br><br>
            <div class="row data my-4" id="data-3">
                You should also be able to find out information about MBA acceptance rates at various schools, to give 
                you a sense of how much competition there is for places there. <b>Start this pre-application process 12-14
                 months before round 1 applications (August each year for most).</b> <br><br>
                The application process is the most challenging task which is composed of:
            
                <!-- <table class="table table-info table-striped table-bordered" id="table_data_1" align="center">
                    <tr bgcolor="#A5C0D0">
                        <td>Resume Making</td>
                        <td>TOEFL/IELTS score</td>
                        <td>GMAT/GRE score</td>
                    </tr>
                    <tr>
                        <td>Essay writing</td>
                        <td>Filling application form</td>
                        <td>Recommen- <br>-dation letters</td>
                    </tr>
                </table>
            </div>
            <div class="row quote my-2" id="quote-3">
                “You need a peer group to tell you what schools look for to highlight right points, and then review your 
                application for clarity, impact and grammar.”
            </div>
            <div class="row author float-right" id="author3">
                - Abhinav Mangal, Kellogg School of Management
            </div>
            <br>
            <div class="row data my-4" id="data-4">
                You can check out the application deadline for your target school from their website. The following is a 
                rough timeline suggestion from IIT-B alumni in top B-schools for GMAT, essay & recommendation letter: -->
                <!-- <table class="table-responsive table-info table-striped table-bordered mx-2" id="table_data_2">
                    <thead>
                        <tr bgcolor="#A5C0D0">
                            <th>Task</th>
                            <th>Advised time to start(basis IITB alumni survey from top US B schools)</th>
                            <th>What to prepare?</th>
                        </tr>
                        <tr bgcolor="#DEEBF0">
                            <td>GMAT preparation</td>
                            <td>6-12 months prior round 1 (which starts in August each year for most) so to give enough buffer for re-taking the exam</td>
                            <td>The next section covers it</td>
                        </tr>
                        <tr bgcolor="#DEEBF0">
                            <td>Essays writing</td>
                            <td>The topic is generally released in summer (in months of June and July for most schools) but be 
                                sure to check for your target school</td>
                            <td>Topics do not vary much from that of the previous year, so you can start preparing in advance 
                                (before June). Having a consistent flow in your story and engaging essays will boost your chances.</td>
                        </tr>
                        <tr bgcolor="#DEEBF0">
                            <td>Preparing your recommenders</td>
                            <td>2-3 months prior to round 1 applications. A really strong recommendation is vital.</td>
                            <td>Explain to the recommender how the process will be - some schools have an online form to fill 
                                while some accept email recommendations. Reach out to your direct manager or senior 
                                (professors & managers in an internship for 2+2 applicants) and prepare them for what you 
                                want to be highlighted.</td>
                        </tr>
                    </thead>
                </table> -->
            </div>
        </div>
    </div>

    <br>

    <div class="row content table" id="table1">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_1" align="center">
                <tr bgcolor="#A5C0D0">
                    <td>Resume Making</td>
                    <td>TOEFL/IELTS score</td>
                    <td>GMAT/GRE score</td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td>Essay writing</td>
                    <td>Filling application form</td>
                    <td>Recommen- <br>-dation letters</td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <div class="row content" id="row_c">
        <div class="container mx-3">
            <div class="row quote my-2" id="quote-3">
                “You need a peer group to tell you what schools look for to highlight right points, and then review your 
                application for clarity, impact and grammar.”
            </div>
            <div class="row author float-right " id="author3">
                - Abhinav Mangal, Kellogg School of Management
            </div>
            <br>
            <div class="row data my-4" id="data-4">
                You can check out the application deadline for your target school from their website. The following is a 
                rough timeline suggestion from IIT-B alumni in top B-schools for GMAT, essay & recommendation letter:
            </div>
        </div>
    </div>

    <br>

    <div class="row content table" id="table2">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_1" align="center">
                <thead>
                    <tr bgcolor="#A5C0D0">
                        <th>Task</th>
                        <th>Advised time to start(basis IITB alumni survey from top US B schools)</th>
                        <th>What to prepare?</th>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>GMAT preparation</td>
                        <td>6-12 months prior round 1 (which starts in August each year for most) so to give enough buffer for re-taking the exam</td>
                        <td>The next section covers it</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Essays writing</td>
                        <td>The topic is generally released in summer (in months of June and July for most schools) but be 
                            sure to check for your target school</td>
                        <td>Topics do not vary much from that of the previous year, so you can start preparing in advance 
                            (before June). Having a consistent flow in your story and engaging essays will boost your chances.</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Preparing your recommenders</td>
                        <td>2-3 months prior to round 1 applications. A really strong recommendation is vital.</td>
                        <td>Explain to the recommender how the process will be - some schools have an online form to fill 
                            while some accept email recommendations. Reach out to your direct manager or senior 
                            (professors & managers in an internship for 2+2 applicants) and prepare them for what you 
                            want to be highlighted.</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <br>

    <div class="row content" id="row_d">
        <div class="container mx-3">
            <div class="row data my-2" id="data-5">
               <b> The post application process </b> &nbsp;involves personal interview (PI) preparation. This usually consists of:
               <ul>
                   <li>Reaching out to any alumni from the school and asking them what to expect so that you can prepare accordingly.</li>
                   <li>Personal Interview: For the most part, it revolves around yourself and will be built upon your CV & essays. 
                       The key here is to sound consistent with your CV and essays.</li>
               </ul>
            </div>
            <div class="row quote" id="quote-4">
                “One common thing about the application that I heard from a lot of my classmates was that each of their GSB 
                applications was so personal that they weren’t comfortable sharing it with anyone else.”
            </div>
            <div class="row author float-right my-2" id="author4">
                - Riya Gayasen, ‘Stanford Graduate School of Business’
            </div>
            <br>
        </div>
    </div>

    <br>

    <div class="row content table" id="table2">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_1" align="center">
                <tr bgcolor="#A5C0D0">
                    <td>PI prep</td>
                    <td>Start as soon as the application form and docs are submitted. </td>
                    <td>Next section 2e covers it</td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <div class="row content" id="row_e">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead2">
                Best ways to study for GMAT
            </div> 
            <div class="row data" id="data-5">
                The GMAT features mathematics, grammar, and other subjects you likely studied many years ago. To 
                increase your test performance for the exam, you could take a GMAT prep course (like JEE coaching) 
                from test prep services like Jamboree, Manhattan, Veritas and Kaplan, if required. <b> Do keep in mind 
                that GMAT scores are valid for 5 years. </b>
                GMAT is a computerized adaptive test, i.e. if you answer the current question correctly, the next one will 
                be one level difficult and one level easier if you answer it incorrectly. The more you solve difficult 
                questions correctly, the better your GMAT score will be. Since it is an adaptive test,  you cannot skip 
                any questions, and there is no negative marking in GMAT.
            </div>
            <div class="figureig">
                <figure class="figure text-center my-2" >
                    <img src="assets/images/appro1.jpeg" class="figure-img img-fluid rounded" id="img1" >
                    <figcaption class="figure-caption">The image shows the rise/fall in scores and difficulty level of the questions 
                    as you proceed further in the exam.</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_f">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead2">
                <i>What are the four sections of the GMAT?</i>
            </div>
            <div class="row data" id="data-6">
                1. Analytical Writing Assessment: Consists of a 30-minute writing task basis analysis of an argument. It
                is important to be able to
                analyze the reasoning behind a given argument and critique it.
                <br>
                2. Integrated Reasoning: Designed to measure a test taker's ability to evaluate data presented in
                multiple formats from different sources.
                <br>
                3. Quantitative: Seeks to measure the ability to reason quantitatively, solve quantitative problems,
                interpret graphic data, and analyze and use the information given in a problem. Questions require
                knowledge of algebraic, geometric, and arithmetic concepts.
                <br>
                4. Verbal: Includes reading comprehension(RC), critical reasoning(CR), and sentence correction(SC). Each
                question type has five options to select from.
            </div>
        </div>
    </div>

    <br>

    <div class="row content table" id="table2">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_4">
                <thead>
                    <tr bgcolor="#A5C0D0">
                        <th>Section</th>
                        <th>Duration in minutes</th>
                        <th>Number of questions</th>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Analytical writing assessment</td>
                        <td>30</td>
                        <td>1 essay</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Integrated reasoning</td>
                        <td>30</td>
                        <td>12</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Quantitative*</td>
                        <td>62</td>
                        <td>31</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td>Verbal*</td>
                        <td>65</td>
                        <td>36</td>
                    </tr>
                </thead>
            </table>
            *Quantitative and Verbal are the only sections considered for marking.
        </div>
    </div>

    <br>

    <div class="row content" id="row_g">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead2">
                <u>How to prepare for the GMAT strategically?</u>
            </div>
            <div class="row data" id="data-6">
                Step 1: <b>&nbsp;Take a practice test to know your current stance, NOT from the Graduate Management
                Admissions Council (GMAC) website. </b>And prepare a study plan accordingly. <br>
                Step 2: Find the average GMAT scores for the schools you wish to apply to and set a goal to score at or 
                above the average. The image shows a formula for getting high scores of around 760. <b> Only Verbal and Quant 
                are considered for GMAT score. </b>
            </div>
            <div class="figureig">
                <figure class="figure text-center my-2" >
                    <img src="assets/images/appro2.jpeg" class="figure-img img-fluid rounded" id="img1" >
                </figure>
            </div>
            <br>
            <div class="row data" id="data-7">
                Step 3: Strategize, plan, study & practice: It takes 3 months of 15-20 hours per week of
                dedicated studies to prepare well. One of the hardest parts of studying for the GMAT is managing
                time. <b>Figure out a schedule and stick to it.</b>&nbsp;The most <b>&nbsp;recommended source&nbsp; </b>of studying
                is the <b>&nbsp;Official Guide(OG)&nbsp;</b> published by GMAC.
                <br>
                <i>A sample schedule of self-study could consist of concept & basic level questions every weekday from 5-8 PM, 
                alternate days of Verbal and Quant and solving advance level question banks on weekends from the topics 
                of the week.</i>
            </div>
            <div class="row quote my-3" id="quote-5">
                “Finding a productive space to study can also be challenging. When I was studying for the GMAT,
                I had three roommates and knew my productivity when I got home would be limited. I decided to
                join a local coworking space so that I had a quiet, designated place to study at night and on
                the weekends. Your local coffee shop or library are also great places to study.”
            </div>
            <div class="row data my-2" id="data-8">
                <b>Review log of errors: </b> Top scorers of GMAT maintain a note of their weak and strong areas 
                and find a pattern of mistakes. Below is one such way of monitoring your progress.
                <ul>
                    <li>Keep track of any mistakes</li>
                    <li>Over time, look for patterns in your mistakes</li>
                </ul>
            </div>

            <div class="figureig">
                <figure class="figure text-center my-2" >
                    <img src="assets/images/appro3.jpeg" class="figure-img img-fluid rounded" id="img3" >
                </figure>
            </div>

            <div class="figureig">
                <figure class="figure text-center my-2" >
                    <img src="assets/images/appro4.jpeg" class="figure-img img-fluid rounded" id="img4" >
                    <figcaption class="figure-caption">Scoring of GMAT.</figcaption>
                </figure>
            </div>

            <div class="row data my-2" id="data-9">
               <b>Step 4: Regroup: </b> Don’t be afraid to give the GMAT multiple shots. Most of the candidates take the 
                GMAT two or three times before they achieve a score they are happy with. Admissions committees 
                actually look positively on multiple attempts because it shows you have fortitude and are really 
                committed to getting an MBA.
            </div>
            <br>
            <div class="row quote my-2" id="quote-6">
                The biggest challenge was managing work and MBA applications simultaneously. It is a long process and can 
                definitely be draining. GMAT prep is just the first step, and I gave my GMAT very early in the process to 
                allow myself a breather.
            </div>
            <div class="row author float-right " id="author6">
                - Parul Purwar, Kellogg
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_h">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                Why does GMAT matter?
            </div>
            <div class="row data my-2" id="data-10">
                <ul>
                    <li>A great GMAT (750+) offsets a bad CPI/GPA </li>
                    <li>Apart from getting you into a great school & program, it tremendously helps in getting scholarships (GMAT score based scholarships)</li>
                    <li>Apart from MBA, a great GMAT score in your CV helps when it comes to other job opportunities</li>
                </ul>
                Though due to COVID-19, many US schools have relaxed GMAT scores cut off or made it optional to submit. It 
                is still in your favour to give the exam because of the other factors mentioned above.
                <br><br>
                Follow these best practices from test-takers who have taken the GMAT exam:
                <ol>
                    <li>Start your GMAT exam process at least six months before your test results are due. Most test-takers report a minimum eight-week study timeline if they are somewhat familiar with the underlying GMAT exam content. But you are the best judge of how much time you need to prepare.</li>
                    <li>Review and study one section of the test at a time. Target your preparation for a specific section of the exam. Practice diagnostic and adaptive prep for quantitative reasoning.</li>
                    <li>Review basic math skills.</li>
                    <li>Practice pacing because time management is critical to completing the GMAT exam.</li>
                    <li>Review the types of questions in the Verbal and Quantitative Reasoning sections.</li>
                    <li>Use official GMAT Practice Tests to help you become familiar with the format used and questions asked in the actual exam.</li>
                    <li>Practice with real GMAT questions.</li>
                </ol>
            </div>

            <div class="row subhead my-3" id="subhead4">
                Popular GMAT test series
            </div>
            <div class="row data my-2" id="data-11">
                <ul>
                    <li> <b> Must do: </b> GMAC official free tests-1 and 2; GMAC paid tests - 5 & 6; save tests 3 & 4 for later if one needs to give GMAT again</li>
                    <li> <b>Advised: </b>  Manhattan prep series and Veritas prep tests  </li>
                    <li>Should ideally give 6-10 practice mocks before the final exam</li>
                </ul>
            </div>

            <div class="row subhead my-3" id="subhead5">
                Essay writing preparation 
            </div>

            <div class="row quote my-2" id="quote-7">
                Don’t fixate on getting a perfect essay in the first go. Let your essays go through many iterations
            </div>
            <div class="row author float-right" id="author7">
                - Nidhi Gupta, Ross School of Business
            </div>
            <br>
            <div class="row data my-3" id="data-12">
                Your business school essays are about bringing your story to life and providing context to your application by connecting the dots. You’ll want to capture an admissions reviewer’s attention with your story and authenticity, persuading them to learn more by inviting you to interview. This is also a great place where you can explain something negative like a bad GPA or GMAT score or any negative point in your profile. To get there, your essays should convey a strong sense of who you are as a person and what makes you tick, up and beyond what the admissions team will glean from your academic record and work history.
                <br>
                The topics of essays are released in summer with round 1, in the months of June or July. They are fairly open-ended, an example being the Harvard MBA Essay for 2022-2023:
                <br>
                “As we review your application, what more would you like us to know as we consider your candidacy for the Harvard Business School MBA program?” (no word limit)
                <br>
                Below are some strategies for a successful set-up, along with ideas to consider for crafting your stand-out MBA essay:
                <br><br>
                <b>How to begin:</b> Consider the big picture as you sit down to write. The ability to be both genuine and reflective about fundamental questions – such as motivations, goals, strengths and career aspirations – will form the basis for crafting a powerful narrative about who you are and where you’re going.
                <br>
                <u>Brainstorm:</u>What factors have driven your personal life and professional career?
                <p>
                <u>Reflect:</u>What key messages do you want to convey? What are the three most important takeaways you want the reader to know?
                <br>
                <u>Frame:</u>Start with a bullet points’ version and show a logical flow.
                </p>   
            </div>

            <div class="row quote my-2" id="quote-8">
                You should try to answer the question about what is unique in your profile that the admissions committee would appreciate. Once you do, build on top of it - whether it is via your work experience or via your extracurriculars. If your profile is unique and non-replicable, then you have the best chance of getting in.
            </div>
            <div class="row author float-right" id="author8">
                - Kriti, Harvard Business School
            </div>
            <br>

            <div class="row data my-3" id="data-13">
                <b>Step back before going forward:</b>Think about memorable experiences and why they brought you great happiness or a particularly rewarding challenge. Consider what you want a business school to take away from your essay before recounting a story.
                <br>
                A few ideas to consider:
                <ul>
                    <li>What are your major accomplishments and why do you consider them so?</li>
                    <li>Does any attribute, quality or skill distinguish you from everyone else? How did you develop it?</li>
                    <li>What was the most difficult time in your life, and why? How did your perspective on life change because of that?
                    </li>
                    <li>Have you ever struggled greatly for something and succeeded? What made you successful?</li>
                    <li>Have you ever struggled thus and failed? How did you respond?</li>
                    <li>What are your most important extracurricular or community activities? What made you join and continue these activities and why are you passionate about them?</li>
                </ul>
                <b>Reverse the mirror:</b>
                Now, think about it from the program’s perspective: they want students who love the school! Understand what makes it special and explain why it’s a great fit. They also want to understand how your presence and participation will enhance the overall experience—for others as well as for yourself. Show that you understand what the school cares about and that its values are aligned with your own.
                <ul>
                    <li>What are your dreams for the future? When you look back on your life in 30 years, what would it take for you to consider your life successful? </li>
                    <li>How does this particular program fit into your future plans?</li>
                    <li>And, most importantly, why the MBA?</li>
                </ul>
                <b>Get inspired: Avoid working in isolation:</b> &nbsp;
                Especially if you’re feeling stuck, seek some inspiration or entertainment in other writing.
                <ul>
                    <li>Read sample admission essays.</li>
                    <li>Consider working your childhood experiences into your essay.</li>
                    <li>Consider your role models.</li>
                    <li>Ask for feedback from supervisors, colleagues, friends, professors and relatives.</li>
                    <li>Reflect upon self-assessment tools you might have taken in the past, such as (site) CliftonStrengths, and how your unique set of talents and traits can be highlighted. </li>
                </ul>
                <br>
                Once you’re sufficiently prepared and inspired, start to play with possibilities. Dare to have a little fun here – humans respond to enthusiasm and your voice conveys your personality. Remember, there is no right story other than your own. And you are the person best poised to tell that story.
            </div>

            <br>

            <div class="row quote my-2" id="quote-9">
                Think of a business school class as an auditorium with empty seats, each reserved for the profile of the candidate. If you match the profile, you get the admit. If someone matches the profile better than you, they get it.
            </div>
            <div class="row author float-right" id="author9">
                - Swapnil Chichani, Kellogg 
            </div>

            <br>

            <div class="row quote my-3" id="quote-10">
                Different schools stress on different things, so there is not one recipe that can work for all schools.
            </div>
            <div class="row author float-right" id="author10">
                - Swati Agrawal, Chicago Booth School of Business
            </div>

            <br> <br>

            <div class="row data my-3" id="data-14">
                    Some other essay questions of previous years from top B schools are: 
                    <br>
                <div>
                <b> Harvard Business School </b>
                    <ul>
                        <li>Describe an internal conflict or a difficult decision that you have faced. How did you resolve that situation? What did you learn from it?</li>
                        <li>What are your three most substantial accomplishments and why do you view them as such?</li>
                    </ul>
                </div>
                <div>
                <b> Wharton School of Business </b>
                    <ul>
                        <li>Describe a personal characteristic or something in your background that will help the admissions committee to know you better.</li>
                        <li>Where in your background would we find evidence of your leadership capacity or/ potential?</li>
                    </ul>
                </div>

                <div>
                <b> Stanford Graduate School of Business </b>
                    <ul>
                        <li>Tell us about a time when you had a significant impact on a person, group or organisation </li>
                        <li>Tell us about a time when you went beyond what was defined, established, or expected</li>
                    </ul>
                </div>

                <div>
                    <b> Chicago Booth School of Business </b>
                    <ul>
                        <li>How did you choose your most recent job/internship and how did this experience influence your future goals? What about the Chicago Booth MBA makes you feel it is the next best step in your career at this time? </li>
                        <li>Describe a time when you were surprised by feedback you received. What was the feedback and why were you surprised? </li>
                    </ul>
                </div>
                <div>
                <b>Columbia Business School </b> 
                    <ul>
                        <li>How will you take advantage of being “at the very center of business”?</li>
                    </ul>
                </div>
                <div>
                <b>Kellogg School of Management</b> 
                    <ul>
                        <li>I was aware I was different when…</li>
                        <li>Describe a time when your morals, ethics or values were challenged. How did you handle the situation?</li>
                    </ul>
                </div>
                <div>
                <b> MIT Sloan School of Management </b>
                    <ul>
                        <li>Describe a time when you coached, mentored or trained someone or a group</li>
                        <li>Please submit a cover letter seeking a place in the MIT Sloan MBA program. Your letter should conform to a standard business correspondence, include one or more examples that illustrate why you meet the desired criteria.</li>
                    </ul>
                </div>
            </div>
            
            <div class="row quote my-3" id="quote-11">
                Start early and have a clear story - don’t have lofty goals, don’t manufacture and be as genuine as possible. Your internships, classes and clubs show a clear path to your goals.
            </div>
            <div class="row author float-right" id="author11">
                - Vishal Luniya, Columbia
            </div>
            <br>
            <div class="row quote my-3" id="quote-12">
                You need to think about why you want it and what you want from your MBA. To come to that decision, I highly recommend that you speak to others who are doing their MBA and others in your network for their perspective. Once you are clear, it will make it easier to know what to do in MBA as well. Talking to people helps.
            </div>
            <div class="row author float-right" id="author12">
                - Aditya Poonia, Chicago Booth
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_i">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                Personal Interview Preparation
            </div>
            <div class="row data my-3" id="data-15">
                Most of the business schools don't follow the same style when it comes to Interviews. The personal interview 
                is definitely one of the most important steps in the process because there is a chance you might stand out in 
                your interview even if your application isn’t that compelling. Not to mention that if you receive an MBA 
                interview invitation from a top business school, it’s a clear sign that the school believes in your potential 
                and are considering you among the top candidates.
                <br>
                Different business schools are known to have a specific style and ask specific questions in their respective 
                interviews, and this applies to most of the top 15 business schools in the USA. One can expect to experience 
                different types of interviews for different programmes and that’s why you should familiarize yourself with 
                each kind of interview format of your programme + target B-Schools and prepare accordingly. Here is a table 
                highlighting the interview format of some of the top B-Schools in the US.
            </div>
        </div>
    </div>

    <br>

    <div class="row content table" id="table2">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_4">
                <thead>
                    <tr bgcolor="#A5C0D0">
                        <th>B - School</th>
                        <th>Interview Length (minutes)</th>
                        <th>Interview Format</th>
                        <th>Interview Theme & Insights</th>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Stanford</th>
                        <td> 45-60</td>
                        <td>One-on-one + *Blind</td>
                        <td>
                            <ul>
                                <li>Competency-based behavioral interview</li>
                                <li>More focus on past actions and reasoning behind them</li>
                                <li>May invite you to discuss professional or community-based experiences</li>
                            </ul>
                        </td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Harvard</th>
                        <td>30</td>
                        <td>One-on-one + ** Non-Blind </td>
                        <td>
                            <ul>
                                <li>Challenging, rapid-fire interview format</li>
                                <li>Application-based to discern your motivation, experience, industry understanding, and decision-making process.</li>
                                <li>Post Interview Reflection (within 24 hours)</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Wharton</th>
                        <td>35 - TBD
                            10 - One-on-one
                            </td>
                        <td>Team-Based Discussion (TBD) + One-on-one </td>       
                        <td>
                            <ul>
                                <li>TBD is meant to identify characteristics like communication style, level of engagement, leadership skills, decision-making process, etc.</li>
                                <li>Paints a clearer picture of who you are and how you would fit into the class
                                </li>
                                <!-- <li>Post Interview Reflection (within 24 hours)</li> -->
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>MIT Sloan</th>
                        <td>~30</td>
                        <td>One-on-one + Non-Blind </td>
                        <td>
                            <ul>
                                <li>Behavioral Event-Based Interview (BEI)</li>
                                <li>Interview focuses exclusively on a candidate’s past actions</li>
                                <li>Applicants invited to interview are be asked to provide a written answer to a second essay question in 250 words or less</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Chicago Booth</th>
                        <td> 45-60</td>
                        <td>One-on-one + Blind </td>
                        <td>
                            <ul>
                                <li>The interviewer expects you be prepared with good and insightful questions to ask in the question & answer session</li>
                                <li>Favors behavioral style questions, operating from the conviction that past behavior is the better predictor of future performance. </li>
                                <li>60-second video supporting your candidacy</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Columbia</th>
                        <td> 45-60</td>
                        <td>One-on-one + Blind </td>
                        <td>
                            <ul>
                                <!-- <li>The interviewer expects you be prepared with good and insightful questions to ask in the question & answer session</li> -->
                                <li>You can expect to be asked behavioral questions, your goals and vision, and various standard ‘why’ questions.</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Haas</th>
                        <td>~30</td>
                        <td>Pre-recorded video 
                            OR
                            Blind + One-on-one
                            </td>
                        <td>
                            <ul>
                                <li>You should be prepared to demonstrate a good understanding of Haas Defining Principles by sharing relevant examples from personal and professional life</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Ross</th>
                        <td>45-60</td>
                        <td>Team Exercise
                            +
                            One-on-one 
                                      +
                                   Blind
                        </td>
                        <td>
                            <ul>
                                <!-- <li>You should be prepared to demonstrate a good understanding of Haas Defining Principles by sharing relevant examples from personal and professional life</li> -->
                                <li>The focus of The Team Exercise is to evaluate you on your teamwork and interpersonal skills</li>
                                <li>Interviewer expects you to be clear on why you want to get their MBA and have a vision for their future prospects</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Yale SOM</th>
                        <td>30</td>
                        <td>One-on-one 
                            +
                        Non-Blind                   
                            </td>
                        <td>
                            <ul>
                                <!-- <li>You should be prepared to demonstrate a good understanding of Haas Defining Principles by sharing relevant examples from personal and professional life</li> -->
                                <li>At the Yale SOM MBA interview, they will ask you questions about your past experiences and decisions, in order to get a better sense of how you act and think.</li>
                                <li>Those invited to interview are asked to reflect on a quote provided by the school and to submit their own quote for the interviewer to consider 24 to 48 hours in advance</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>UCLA</th>
                        <td>30</td>
                        <td>One-on-one 
                            +
                          Blind </td>
                        <td>
                            <ul>
                               <li>Interview has a straightforward question & answer format with questions being fairly specific and concerning either professional or academic topics. </li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>NYU Stern</th>
                        <td> ~30</td>
                        <td>One-on-one 
                            +
                        Non-Blind
                        </td>
                        <td>
                            <ul>
                                <li>Many of the questions will be based on application because the interviewer would have read the application prior to the interview.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Cornell</th>
                        <td>30-60</td>
                        <td>One-on-one 
                            +
                        Non-Blind
                        </td>
                        <td>
                            <ul>
                                <!-- <li>Many of the questions will be based on application because the interviewer would have read the application prior to the interview.</li> -->
                                <li>The Admissions Committee is looking for applicants who have the ability to showcase who they are, and are confident and authentic with enthusiasm                                </li>
                                <li>Can expect behavioral questions, why MBA, future goals, your contribution to the school, etc.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Tepper</th>
                        <td> 30</td>
                        <td>One-on-one 
                            +
                        Blind
                        </td>
                        <td>
                            <ul>
                                <!-- <li>Many of the questions will be based on application because the interviewer would have read the application prior to the interview.</li> -->
                                <li>The Admissions team conducts behavioral interviews which are used to review a candidate’s specific experiences and behaviors</li>
                                <li>Panel is interested in learning about candidates' skills and perspectives on teamwork, leadership, success, and failure. </li>
                            </ul>
                        </td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Darden</th>
                        <td>30-45</td>
                        <td>One-on-one 
                            +
                     ***Totally Blind                                     </td>
                        <td>
                            <ul>
                                <!-- <li>You should be prepared to demonstrate a good understanding of Haas Defining Principles by sharing relevant examples from personal and professional life</li> -->
                                <li>In a long single question “Tell me about yourself”, the interviewer may expect you to cover topics like college, resume, why MBA, why Darden, etc.</li>
                                <!-- <li>Those invited to interview are asked to reflect on a quote provided by the school and to submit their own quote for the interviewer to consider 24 to 48 hours in advance</li> -->
                                <li>Early Action applicants can schedule an interview without invitation</li>
                            </ul>
                        </td>   
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <th>Fuqua</th>
                        <td>30-45</td>
                        <td>One-on-one 
                            +
                         Blind </td>
                        <td>
                            <ul>
                                <li>Duke Fuqua’s Interview focuses a lot on a candidate’s leadership potential. Can include good leadership examples from personal and professional life</li>
                                <li>Can expect some standard MBA interview questions along with questions asking you to explain some of your CV points</li>
                                <li>All applicants are eligible to interview during the Open Interview Period even without a complete application</li>
                            </ul>
                        </td>   
                    </tr>
                </thead>
            </table>
            <small>
                *Blind - Blind Interview here, means that the interviewer will only have access to your CV. <br>
                **Non Blind - Non Blind Interview here, means that the interviewer will have read your entire application thoroughly. <br>
                ***Totally Blind - Totally Blind Interview here, means that the interviewer will neither have access to your CV nor the application.
            </small>
        </div>
    </div>

    <div class="row content" id="row_i">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                MBA consultants 
            </div>
            <div class="row data my-3" id="data-16">
                The community has varied opinions about the impact MBA consultants have on a candidate’s chances to the top business schools. In this section we comprehensively discuss the merits and demerits of hiring consultants for your MBA application.
            </div>
            <div class="row quote my-3" id="quote-13">
                Due to our education system, we are not the most comfortable writing long essays that are catchy, eye grabbing and thoughtful. Getting help from some of the top consultants can make this a lot easier.
            </div>
            <div class="row author float-right" id="author13">
                - Kriti Gupta, Harvard Business School
            </div>
            <br>
            <div class="row data my-3" id="data-17">
                1)  Who are MBA consultants and what do they do?
                <div>
                Most consultants are either former members of a business school's admissions office or are MBA graduates 
                themselves and therefore have experience of what business schools look for in applicants and what it's like 
                to study at particular schools. 
                Most of the candidates seek the services of an MBA consultant around <b> six months before </b>the application 
                deadline. There are various packages available depending on the needs of the candidate. More often than 
                not, these packages are expensive and out of reach of most of the candidates with a three school package 
                costing more than <b> 5000 dollars</b> quite easily.
                </div>
                <br>
                2)  Should you hire them?
                <div>
                <i> Merits:</i>
                <br>
                Candidates with communication challenges, especially the ones who cannot express themselves well in English, find the consultancy path much smoother. Although the services offered are mostly tailored to the candidate, some of what the consultants do include
                <ul>
                    <li>Suggesting the candidates a proper way to frame the SoP, essay, resume</li>
                    <li>Shortlisting business schools and discussing their profile-school fit </li>
                    <li>Help them in proofreading and framing documents </li>
                    <li>Conducting mock interviews and instructing candidates how to present themselves in 
                    front of the business school’s admission team</li>
                </ul>
                A candidate may also opt for complete B-school wise packages from school selection to admission, if he or she needs more guidance or assistance during the process.
                <br>
                <i>Demerits:</i>
                <br>
                Apart from the obvious financial commitment, <b> a common complaint by the candidates is that their consultant 
                did not devote enough time to their application. </b> To save themselves from this situation, one must ask how 
                many clients the consultant works with for one cycle. This will give the candidate a clear picture.
                </div>
                <br>
                3)  Names of MBA consultants hired by IITB alumni for their applications - derived from Insight’s survey
            </div>
        </div>
    </div>

    <br>

    <div class="row buttons">
        <div class="container text-center">

            <a href="main/academics" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                <i class="bi bi-chevron-left"></i>
                <span class="mx-4" id="text">Introduction</span> 
            </a>
            <a href="main/personal" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true"> 
                <span class="mx-4" id="text">Chosen MBA <br>Schools</span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                <i class="bi bi-chevron-right"></i>
            </a>

            <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"
                    id="goback">
                    Back to Top
                    <span class="mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                    </svg>
                        <i class="bi bi-chevron-compact-up mx-3"></i>
                    </span>
                </button>
            </span>

        </div>
    </div>










</div>