<div class="sidenav">
    <div class="items my-4 text-center" id="item-0"><a href="#"><b>A (MINI) GUIDE TO <br>
    MANAGEMENT <br>
    STUDIES    
    </b> </a></div>
    <div class="items text-center" id="item-1A" style="color: rgb(111, 111, 255);">
        - US Chapter -
    </div>
        <div class="items text-center" id="item-2"><a routerLink="/main/academics" routerLinkActive="active"> <b>INTRODUCTION </b> </a></div>
        <div class="items text-center" id="item-3"><a routerLink="/main/lifestyle" routerLinkActive="active"> <b> APPLICATION <br> PROCESS </b></a></div>
        <div class="items text-center" id="item-4"><a routerLink="/main/personal" routerLinkActive="active"> <b> CHOSEN MBA <br> SCHOOLS </b></a></div>
        <div class="items text-center" id="item-5"><a routerLink="/main/extracurriculars" routerLinkActive="active"> <b> TIPS </b></a></div>
        <div class="items text-center" id="item-6"><a routerLink="/main/miscellaneous" routerLinkActive="active"><b>MBA SURVEY <br> DATA ANALYSIS </b></a></div>
        <div class="text-center my-5" id="footimg">
            <img src="assets/images/insightlogovector.png" class="img-fluid text-center" id="img1" alt="Responsive image">
        </div>
</div>   



<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="open">
  		<a class="navbar-brand" href="#"><img src="assets/images/insightlogovector.png" id="logo-phone"></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
    	<i class="bi bi-justify"></i>
  		</button>
  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
    	<ul class="navbar-nav ml-auto ">
      		<li class="nav-item">
        	    <a class="nav-link" routerLink="/main/academics" routerLinkActive="active">INTRODUCTION</a>
      		</li>
      		<li class="nav-item">
        	    <a class="nav-link" routerLink="/main/lifestyle" routerLinkActive="active">APPLICATION <br> PROCESS </a>
      		</li>
      		<li class="nav-item">
        	    <a class="nav-link" routerLink="/main/personal" routerLinkActive="active">CHOSEN MBA <br> SCHOOLS</a>
      		</li>
            <li class="nav-item">
                <a routerLink="/main/extracurriculars" routerLinkActive="active" class="nav-link">TIPS</a>
            </li>
            <li class="nav-item">
                <a routerLink="/main/miscellaneous" routerLinkActive="active" class="nav-link">MBA SURVEY <br> DATA ANALYSIS</a>
            </li>  
    	</ul>
 	</div>  
</nav> <br>

