<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="my-4" id="mainhead1">Introduction</h1>
        </div> 
    </div>

    <div class="row content" id="row_a">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead1">
                Why MBA?
            </div>

            <div class="row quote" id="quote-1">
                “MBA is a wishing well”
            </div>

            <div class="row author float-right my-2" id="author1">
                - Saman Siddiqui, Stanford GSB MBA 2+2
            </div>
            <br>
 
            <div class="row data my-5" id="data-1">
                Every year, a vast majority of students at IIT Bombay sit for placements, and after a few years into the 
                corporate sector, many come across the dilemma of whether to pursue an MBA or not. This is often followed 
                by another very important question - should you do it in India or abroad? <br>
                When it comes to pursuing an MBA outside India, the USA is probably the first country that comes into 
                people’s minds, towards which this chapter is dedicated. Before continuing further, we encourage you to 
                check out Insight’s Indian MBA chapter first, in case you haven’t (here-link).
            </div>

            <div class="row data my-5" id="data-2">
                <b> <u> Why do an MBA in the US? </u></b> Apart from general factors (salary increase, field change, etc.), there could be 
                many other personal reasons as to why someone would consider this option - wanting to settle abroad, 
                gaining an international network, and the opportunity to do an MBA from the best business schools in the world.
            </div>

            <div class="row quote" id="quote-2">
                An MBA opens up a ton of new doors for you - new industries, new roles become accessible and one gets a chance 
                to change the direction and trajectory of their career. Most importantly, it’s a 2-year low-risk environment
                to explore new paths, think deeply about one’s career, build some (mostly softer) skills in an incredibly 
                supportive community of peers, friends and professors.
            </div>

            <div class="row author float-right my-2" id="author2">
                - Tarun Mathur, Fuqua School of Business
            </div>

        </div>
    </div>
    <br>

    <div class="row content" id="row_b">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead1">
                INDIA vs THE USA?
            </div>

            <div class="row quote" id="quote-3">
                It is extremely important to know what you want from an MBA - that will give you the answer for IIM or abroad.
                Both have very different inputs and outputs.
            </div>

            <div class="row author float-right my-2" id="author3">
                - Swapnil Chichani, Kellogg School of Management
            </div>
            <br>

            <div class="row data my-5" id="data-3">
                Home to the most sought-after Business Schools, the United States of America is considered as the ‘mecca’ for
                pursuing MBA all around the world. But is it the case? If yes, then why? A brief comparison between MBA in 
                India v/s Abroad was already covered in the India chapter and similarly, in this section, we will do the same 
                for India vs the USA.
                <br> Here is a detailed comparison of pursuing an MBA in India vs an MBA in the USA based on various crucial 
                factors one must keep in mind while making a sound decision.
            </div>
        </div>
    </div>    
    <br>

    <div class="row content table" id="table1">
        <div class="container mx-3">
            <table class="table table-info table-striped table-bordered" id="table_data_1">
                <thead>
                    <tr bgcolor="#A5C0D0">
                        <th>FACTORS</th>
                        <th>USA</th>
                        <th>INDIA</th>
                    </tr>
                </thead>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Entrance Exams for MBA</td>
                    <td>
                        <ul>
                            <li>More popular & preferred: GMAT score (Verbal & Quant)</li>
                            <li>GRE (Verbal & Quant)</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>IIMs, FMS and most other colleges - CAT</li>
                            <li>XLRI - XAT</li>
                            <li>ISB - GMAT</li>
                        </ul>
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Work Experience before MBA</td>
                    <td>For admission in most B-Schools in the USA, a candidate needs to have at least 2-3 years of work
                        experience and on average 5 years of work experience is considered sufficient. Hence, applicants 
                        are encouraged to gain some diverse work experience before deciding to apply for an MBA in the USA.
                    </td>
                    <td>
                        For Indian B-Schools, this factor isn’t of utmost importance given that most MBA freshers in top 
                        B-Schools in India generally have zero work experience.
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Course Structure</td>
                    <td>Generally, the MBA course curriculum in US B-Schools has a more practical approach where students are
                        required to participate and make their contribution, whether it involves finding a solution to a problem 
                        or tackling a case study. A lot of learning is derived from the varied perspectives shared by batchmates, 
                        so you come across more efficient ways to deal with a complex problem or a difficult business situation
                    </td>
                    <td>Whereas, (in general) the majority of MBA programs in India are still more focused on CGPI and the 
                        theoretical aspects. But with time, at least the top b-schools in India are making changes to courses in 
                        their MBA curriculum. Hence, in spite of the enthusiasm of a relatively young peer group, there may be very 
                        few who’ve had hands-on experience, so a lot of theoretical learning. 
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Fees and Net Cost</td>
                    <td>The tuition fees for the two-year US-based programs can vary from around $70,000 to $80,000 a year depending
                        upon the university you’re applying to. Almost all of the top B-Schools’ tuition fees start north of $70,000 a year. 
                        To this, you need to add the cost of living, medical insurance, books, and transportation which in total may 
                        vary from $20k-$40k a year, also depending on your lifestyle. Overall approx $100k for a year (INR 70-75 LPA).
                    </td>
                    <td>
                        Acquiring an MBA degree is comparatively less expensive in India than in the USA. An MBA in India can cost anywhere
                        from Rs. 20 lakh - Rs. 35 lakh depending on the B-School you are admitted to. Costs like living expenses,
                        health insurance, and other miscellaneous costs come down a lot when compared to those in the USA. Do keep in mind 
                        the ratio of salaries to fees is nearly the same for India vs the US.
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Salary after MBA</td>
                    <td>A recently graduated student of some of the most prestigious and reputed B-Schools in the US such
                        as Harvard, Stanford and Wharton can expect to earn an average salary in the range of $100k-150k(INR 73-110 LPA).
                    </td>
                    <td>
                        The actual split of salaries for different Indian B-schools can be checked out at our India chapter(link).
                        Avg for Indian schools is ~INR 21-25 LPA.
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Placement Process</td>
                    <td>The school usually does not guarantee a job. So students have to put in efforts and reach out and network 
                        with their dream companies in order to land a cushy job.
                    </td>
                    <td>
                        The placement process in top Indian B-schools is relatively easier as students get an opportunity to interview
                        with top companies on campus. In fact, the toppers at some of these B-schools get multiple offers.
                    </td>
                </tr>
                <tr bgcolor="#DEEBF0">
                    <td class="text-center">Exposure, Living Experience</td>
                    <td>You get the chance to interact with other international students, gain exposure to new cultures and build new perspectives</td>
                    <td>This is something that you might not really experience while pursuing an MBA in India.</td>
                </tr>
            </table>
        </div>
    </div>

        <br>

    <div class="row content" id="row_c">
        <div class="container mx-3 my-3">
            <div class="row quote" id="quote-4">
                    I’d say that a degree from IIM A B C/ISB is pretty good for those who wish to settle for a career in India right after their MBA. 
                    However, if folks have the aspiration of working abroad for at least 5 years before returning to India, an MBA degree abroad 
                    might actually be worth it.
            </div>

            <div class="row author float-right my-2" id="author3">
                    - Palash Agrawal, MIT Sloan
            </div>

                <br><br><br>

            <div class="row quote" id="quote-5">
                    Whether one should go for an IIM or an MBA abroad completely depends on their own goals and what they want out of an MBA.
            </div>
            <div class="row author float-right my-2" id="author3">
                    - Riya Gayasen, Stanford Graduate School of Business
            </div>

        </div>
    </div>
        <br>

        <div class="row buttons">
            <div class="container mx-3 text-center">
                <a href="main/lifestyle" class="btn btn-primary btn-sm forward" tabindex="-1" role="button" aria-disabled="true"> <span class="mx-4" id="text">APPLICATION <br> PROCESS</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <i class="bi bi-chevron-right"></i>
                </a>

                <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"
                        id="goback">
                        Back to Top
                        <span class="mx-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                        </svg>
                            <i class="bi bi-chevron-compact-up mx-3"></i>
                        </span>
                    </button>
                </span>

            </div>
        </div>
        <br>

</div>


