<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="my-4" id="mainhead1">Chosen MBA Schools</h1>
            <div class="container">
                This section covers an analysis of normal and deferred MBA programs of different schools over the parameters 
                of average salary, GMAT score, fees, gender ratio etc.
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_a">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead1">
                <!-- COMPARATIVE ANALYSIS -->
                Comparative Analysis
            </div>
        

            <div class="row data my-2" id="data-1">
                We performed a comparative analysis of the top US B-Schools on expenses, acceptance rate, salaries and
                other crucial parameters.
            </div>
        </div>
    </div>
    <br>

    <div class="row content" id="row_b">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead2">
                <!-- DEFERRED MBA IN THE USA -->
                Deferred MBA in the USA
            </div>

            <div class="row data my-2" id="data-2">
                There are several opportunities to apply for your MBA in your final year of college without accumulating 
                work experience. A deferred MBA is one such option. Deferred MBA programs allow students in full-time 
                undergraduate or master’s programs to secure a seat in a future class. What is it and is it right for you?
            </div>

            <div class="row data my-3" id="data-3">
                <b><u>Why apply to deferred MBA programs?</u></b> 
                <div class="container" id="semidata1">
                    The incentives that drive college and pre-experience graduate students to apply are tremendous:
                </div>

                <ul>
                    <li>
                        <b>Enhanced career flexibility:</b> Many MBA aspirants fear that the time and investment to pursue an 
                        MBA may not be worth it. However, applying for a deferred MBA program enables you to plan your future 
                        in a more relaxed manner. If you wish to change your career path, you can always withdraw your 
                        application. It gives you 2-3 years right after graduate school to explore new interests and try out 
                        new things without worrying much about how it will affect your career. 
                    </li>

                    <li>
                        <b>Building a wider network:</b>Upon getting accepted to a deferred MBA program, you gain immediate 
                        access to the school’s network of students, alumni and faculty. This provides you with professional 
                        opportunities before you even go to a business school.
                    </li>
                </ul>
            </div>

            <div class="row data my-3" id="data-3">
                <b><u>DOWNSIDES TO CONSIDER</u></b> 
                Some might say that once you commit to a deferred MBA program, you lose out on consideration of other 
                career options. If you are uncertain about your choices, enrolling in a deferred MBA program might not be 
                the best decision. On the other hand, you could have more flexibility to pursue other careers as you 
                know you have an MBA seat already saved. 
                <br>
                Without clarity about your specialization, employers looking for pre-MBA experience in the same field may 
                hesitate to hire you. You might also miss the chance to explore other fields after your MBA program completion.
            </div>

            <div class="row quote" id="quote-1">
                When you think of an MBA, always think of it as a wild card. You can do it only once in your life, and it can
                 be the best way to switch careers, industry or even geography.
            </div>

            <div class="row author float-right my-2" id="author1">
                - Kriti Gupta, Harvard Business School
            </div>

            <br><br><br>

            <div class="row quote" id="quote-2">
                I feel that it is useful to gain some work experience before applying for business school so that you 
                really know why you are doing it. With the number of options and career paths available to individuals 
                ranging from going for a Technical Masters to PhD to Business degree to joint Business + Engineering degree 
                or joint Business+Law or Business+Policy degrees, it would be really helpful to choose the program and 
                university that will be a good fit for you personally and in alignment with your future goals. Having a 
                deferred admit to some of these good business schools may have the latent and subconscious effect of 
                biasing you towards a certain type of career. I’d prefer that we all go into our careers post IITB 
                unbiased and with an open mind and allow our experiences to shape our perspectives.
            </div>


            <div class="row author float-right my-2" id="author2">
                - Rahul Nechlani, Sloan
            </div>

        </div>
    </div>

    <br>
    <div class="row content" id="row_c">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead3">
                <!-- TOP PROGRAMS -->
                Top Programs
            </div>

            <ol>
                <li>Harvard Business School 2+2</li>

                <div class="row data my-3" id="data-4">
                    Eligibility criteria:
                    <div class="container" id="semidata2">
                        <ul>
                            <li>Must be a student currently in the final year of their undergraduate or graduate or 
                                dual degree program.</li>
                            <li>Does not have any full-time work experience (internships and co-ops aren’t counted).</li>
                        </ul>
                    </div>
                    <br>
                    Timeline:
                <table class="table table-info table-striped table-bordered" id="table_data_1">
                    <thead>
                        <tr bgcolor = "#A5C0D0">
                            <th> Date </th>
                            <th>Task</th>
                        </tr>
                    </thead>
                    <tr bgcolor="#DEEBF0">
                        <td>April-end</td>
                        <td>Deadline for taking GMAT/GRE </td>
                    </tr>
                    <tr bgcolor = "#DEEBF0">
                        <td> April-end </td>
                        <td>Application Deadline</td>
                    </tr>
                    <tr bgcolor="#DEEBF0">
                        <td></td>
                        <td>Two to four-year deferral</td>
                    </tr>
                </table>
                </div>

                <li>Stanford GSB Deferred Enrollment</li>
                    <div class="row data my-3" id="data-5">
                        You can apply in one out of three rounds offered each year.
                        <br>
                        Eligibility criteria:
                        <div class="container" id="semidata3">
                            <ul>
                                <li>Must be a final year student in any bachelor or joint bachelor/graduate degree program.</li>
                                <li>Must be a student of any graduate program joined immediately after completing a Bachelors’ degree.</li>
                            </ul>
                        </div>
                        <br>
                        Timeline:
                        <table class="table table-info table-striped table-bordered" id="table_data_2">
                            <thead>
                                <tr bgcolor = "#A5C0D0">
                                    <th> Date </th>
                                    <th>Task</th>
                                </tr>
                            </thead>
                            <tr bgcolor="#DEEBF0">
                                <td>Mid-September</td>
                                <td>Round 1 Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>Early December</td>
                                <td>Decision for Round 1</td>
                            </tr>
                            <tr bgcolor="#DEEBF0">
                                <td>Early January</td>
                                <td>Round 2 Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>Early April</td>
                                <td>Decision for Round 2</td>
                            </tr>
                            <tr bgcolor="#DEEBF0">
                                <td>Early January</td>
                                <td>Round 3 Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>Mid-May</td>
                                <td>Decision for Round 3</td>
                            </tr>
                            <tr bgcolor="#DEEBF0">
                                <td></td>
                                <td>Two-year deferral</td>
                            </tr>
                        </table>
                    </div>


                    <li>Wharton Deferred MBA Advance Access Program</li>
                    <div class="row data my-3" id="data-6">
                        Eligibility criteria:
                    <div class="container" id="semidata3">
                        <ul>
                            <li>Apply during the final year of your undergraduate or master’s degree program 
                                during the Moelis Round of MBA Admissions. <br> Deferred admission candidates are only evaluated relative to peers applying to the Moelis Program.
                            </li>
                        </ul>
                    </div>
                    <br>
                    Timeline:
                    <table class="table table-info table-striped table-bordered" id="table_data_3">
                        <thead>
                            <tr bgcolor = "#A5C0D0">
                                <th> Date </th>
                                <th>Task</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>March-end</td>
                            <td>Application Deadline</td>
                        </tr>
                        <tr bgcolor = "#DEEBF0">
                            <td>Mid-April</td>
                            <td>Interview Invitations</td>
                        </tr>
                        <tr>
                            <td>April-end</td>
                            <td>Interview Dates</td>
                        </tr>
                        <tr bgcolor = "#DEEBF0">
                            <td>Early May</td>
                            <td>Decision</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Two to four-year deferral</td>
                        </tr>
                    </table>
                    </div>
                    
                    <li>Chicago Booth Scholars Program</li>
                    <div class="row data my-3" id="data-7">
                        Eligibility criteria:
                        <div class="container" id="semidata4">
                            <ul>
                                <li>Must be a current student in the final year of an undergraduate degree</li>
                            </ul>
                        </div>
                        <br>
                        Timeline:
                        <table class="table table-info table-striped table-bordered" id="table_data_4">
                            <thead>
                                <tr bgcolor = "#A5C0D0">
                                    <th> Date </th>
                                    <th>Task</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Early April</td>
                                <td>Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>April to May</td>
                                <td>Interview Timeframe</td>
                            </tr>
                            <tr>
                                <td>Early June</td>
                                <td>Decision</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td></td>
                                <td>Two to five-year deferral</td>
                            </tr>
                        </table>
                    </div>

                    <li>MIT Sloan MBA Early Admission</li>
                    <div class="row data my-3" id="data-8">
                        Eligibility criteria:
                        <div class="container" id="semidata5">
                            <ul>
                                <li>Have graduated or will graduate from an undergraduate degree during the current academic 
                                    year</li>
                                <li>Recently entered a graduate program or are graduating from a graduate program just after 
                                    completing their undergraduate degree</li>
                                <li>Don’t have any full-time work experience</li>
                            </ul>
                        </div>
                        <br>
                        Timeline:
                        <table class="table table-info table-striped table-bordered" id="table_data_5">
                            <thead>
                                <tr bgcolor = "#A5C0D0">
                                    <th> Date </th>
                                    <th>Task</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mid-April</td>
                                <td>Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>Early June</td>
                                <td>Decision</td>
                            </tr>
                            <tr>
                                <td>Early July</td>
                                <td>Reply to offer by</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td></td>
                                <td>Two to five-year deferral</td>
                            </tr>
                        </table>
                    </div>

                    <li>Columbia Business School Deferred Enrollment</li>
                    <div class="row data my-3" id="data-9">
                        Applicants can choose to start in January (16-month program) or August (traditional 20-month program 
                        featuring a summer internship.) <br>
                        Eligibility criteria:
                        <div class="container" id="semidata6">
                            <ul>
                                <li>Must be a student in the final year of either undergrad or graduate studies. </li>
                            </ul>
                        </div>
                        <br>
                        Timeline:
                        <table class="table table-info table-striped table-bordered" id="table_data_6">
                            <thead>
                                <tr bgcolor = "#A5C0D0">
                                    <th> Date </th>
                                    <th>Task</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mid-April</td>
                                <td>Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>April-end</td>
                                <td>Interview Invitations</td>
                            </tr>
                            <tr>
                                <td>Mid-May</td>
                                <td>Decision</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td></td>
                                <td>Two to five-year deferral</td>
                            </tr>
                        </table>
                    </div>

                    <li>Kellogg Future Leaders</li>
                    <div class="row data my-3" id="data-10">
                        Eligibility criteria:
                        <div class="container" id="semidata7">
                            <ul>
                                <li>Undergraduates in the last year of school, majoring in any discipline </li>
                                <li>Master's students who went directly into a graduate program from undergrad </li>
                            </ul>
                        </div>
                        <br>
                        Timeline:
                        <table class="table table-info table-striped table-bordered" id="table_data_7">
                            <thead>
                                <tr bgcolor = "#A5C0D0">
                                    <th> Date </th>
                                    <th>Task</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Early April</td>
                                <td>Application Deadline</td>
                            </tr>
                            <tr bgcolor = "#DEEBF0">
                                <td>Early June</td>
                                <td>Decision</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Two to five-year deferral</td>
                            </tr>
                        </table>
                    </div>

            </ol>

            <div class="row quote" id="quote-3">
                I haven’t had the opportunity to share classes with someone from a deferral program. In my personal
                 experience, I have benefitted immensely from the 5+ years of work experience I had before my MBA 
                 since it gave me the opportunity to reflect deeply on business and leadership challenges and how I 
                 wanted to shape my MBA journey to grow in areas relevant to me. Beyond crafting a meaningful MBA journey, 
                 my hunch is that deferral program candidates will fare equally well in highly structured recruiting 
                 processes such as consulting or banking but might face challenges in more unstructured self-led job 
                 search processes since companies expect MBA candidates to have roughly 5 years of work experience and 
                 at least 3 years of work experience before their MBAs. However, that’s just my hunch. Reality could 
                 be different.
            </div>

            <div class="row author float-right my-2" id="author3">
                - Palash Agarwal, Sloan
            </div>

        </div>
    </div>

    <br>


    <div class="row buttons">
        <div class="container mx-3 text-center">

            <a href="main/lifestyle" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                <i class="bi bi-chevron-left"></i>
                <span class="mx-4" id="text">APPLICATION <br>PROCESS</span> 
            </a>
            <a href="main/extracurriculars" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true"> 
                <span class="mx-4" id="text">TIPS</span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                <i class="bi bi-chevron-right"></i>
            </a>

            <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"
                    id="goback">
                    Back to Top
                    <span class="mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                    </svg>
                        <i class="bi bi-chevron-compact-up mx-3"></i>
                    </span>
                </button>
            </span>

        </div>
    </div>
    <br>


</div>