<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2">
            <app-navbar></app-navbar>
        </div>

        <div class="col-md-10 col-lg-10 col-sm-10">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div> 
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 nopadding">
            <app-navbar></app-navbar>
        </div>
        <div class="col-lg-10 nopadding">
            <!-- <app-academics></app-academics> -->
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>         
</div> 

