<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="my-2" id="mainhead1">Tips</h1>  
        </div> 
    </div>

    <br>

    <div class="row content" id="row_b">
        <div class="container mx-3">
            <div class="row subhead my-2" id="subhead3">
                <!-- VISA REQUIREMENTS -->
                Visa Requirements
            </div>

            <div class="row data my-2" id="data-11">
                As a foreign student intending to study in the US you need to acquire a valid student Visa. For academic 
                purposes, one needs to apply for an F1 Student Visa. Apart from allowing you to pursue your MBA, an F1 
                visa holder is allowed to stay back for up to one year after completing their graduate studies. 
                Detailed instructions on how to apply can be found 
                <a href="https://travel.state.gov/content/travel/en/us-visas/study/student-visa.html" class="betweenlink" style="display: inline;">
                here</a>.
                If you wish to stay back after the 1-year 
                buffer period you will need to apply for a work visa.
            </div>

            <div class="row data my-3" id="data-12">
                <div>
                <b>A few tips:</b>
                <br>
                <ul>
                    <li>You will need to pay a fee to book an interview slot before the application fee. You can pay 
                    it through any bank using NEFT.</li>
                    <li>Always complete Form DS-160 before the student visa interview, after which you should pay the 
                        application fee. Be sure to carry a printout!</li>
                    <li>The I-20 form will be issued by the university. Pay the fee online via the U.S. Immigration and Customs website.</li>
                    <li>Book your interview appointment through the VFS website. Make sure you have the visa fee receipt and 
                        DS-160 barcode number handy.</li>
                </ul>
                </div>
                <br>
                <div>
                <b>Essential documents to carry for the interview:</b>
                    <br>
                    <ul>
                        <li>A valid passport and previously issued passports</li>
                        <li>Passport size photograph with a white background (50mm x 50mm)</li>
                        <li>DS-160 confirmation page with barcode</li>
                        <li>Visa application fee receipts</li>
                        <li>VFS appointment letter</li>
                        <li>SEVIS receipt and I-120 form</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <br>

    <div class="row content" id="row_c">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead3">
                <!-- VISA NOT APRROVED OR REJECTED -->
                Visa not approved or rejected
            </div>
            <div class="row data my-3" id="data-13">
                In many cases, visas might not be approved and applicants have to wait until it is approved by the consulate. 
                If this happens to you, you need not lose hope! Contact the consulate and apply again by paying the processing fees (again) and schedule your appointment.
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_d">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                Visa and Immigration Challenges
            </div>
            <div class="figureig">
                <figure class="figure text-center my-2" >
                    <img src="assets/images/tips3.png" class="figure-img img-fluid rounded" id="img3" >
                </figure>
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_d">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                General Tips for Visa Process: 
            </div>
            <div class="row data my-3" id="data-14">
                <ul>
                    <li>For example, let’s say your sixth year of H-1B status will end on September 1, 2021. As long as a U.S. employer filed a PERM or I-140 on your behalf before September 1, 2020, and the application is still pending on September 1, 2021, you are eligible to extend your H-1B status for one year.</li>
                    <li>Importantly, there is no limit to how many times an H-1B worker can use these AC21 provisions to extend a visa. Due to the major backlog in priority dates for some categories, you could potentially be in H-1B status for ten, 15, or 20 years while waiting for your priority date to become current
                    </li>
                    <li>Also, be sure to talk with your DSO or foreign student advisor before you begin your internship hunt to fully understand these visas. (while in School. Post school, there are numerous provisions provided by the HR of the company you are working with to help you with your VISA complications)</li>
                    <li>Most students choose to use their CPT internships during their enrollment, keeping their OPT internships for after graduation as it is the only legal way they can stay in the country and look for a job if they do want to remain in the country permanently.</li>
                    <li>In brief, the PERM process requires the petitioning employer to conduct a series of recruitment activities to test the labor market before filing the application. If sufficient able, qualified, and willing applicants (U.S. citizen or Permanent Resident) are not found for a position through the recruitment process, the employer can submit a PERM labor certification application.</li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_d">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead4">
                Individual Tips:
            </div>
            <div class="row data my-2" id="data-15">
                <b>Stanford - Riya Gayasen</b>
            </div>
            <div class="row quote" id="quote-1">
                “From what I understand about the GSB, they take their motto “Change Lives, Change Organizations, Change the World” very seriously.
                <br>
                Regarding goals, first and foremost, one should always be true to oneself. The most important thing is to be true to yourself and have a plan, knowing how you’d use the Stanford GSB MBA program to get to where you want to be.”
                <br>
                “One common thing about the application, that I heard from a lot of my classmates, that each of their GSB applications was so personal, that they weren’t comfortable sharing it with anyone else.”
                <br>
                “To get in at the GSB, one of the things that I did was to research the school for close to a year. I made it a habit to read articles on the GSB website and to follow any updates that they posted on LinkedIn and Facebook. I also talked to a number of alums, close to 10 months before I applied. By the time I actually applied, I was able to understand how a Stanford alum would respond to different situations at my work. In essence, by the time I applied, I was already living the way I understood a Stanford GSB alum would live.  In a lot of ways, it was the same dedication as the one for IIT-JEE”
            </div>
            <br>
            <div class="row data" id="data-15">
                <b>MIT-sloan - Rahul Nechalani</b>
            </div>
            <div class="row quote my-2" id="quote-2">
                “Strong technical background + some business leadership is a good place to start. The application process is designed to evaluate the candidate’s interest in the MBA program, the engineering program of their choice as well as specific interest in the LGO program.”
            </div>
        </div>
    </div>

    <br>

    <div class="row content" id="row_e">
        <div class="container mx-3">
            <div class="row subhead my-3" id="subhead3">
                <!-- ARRIVAL IN THE U.S.A -->
                Arrival in the U.S.A
            </div>
            <div class="row data my-3" id="data-13">
                Make sure you have all the valid documents along with you - carry different copies of the documents with you 
                (including your passport). If you do not have the appropriate documentation you will be sent back by the U.S. 
                Department of Homeland Security.
            </div>
        </div>
    </div>

    <div class="row content" id="row_a">
        <div class="container mx-3 my-3 text-center">
            <img src="assets/images/tips1.png" class="img-fluid text-center" id="img1" alt="Responsive image">
        </div>
        <div class="container mx-3 my-3 text-center">
            <img src="assets/images/tips2.png" class="img-fluid text-center" id="img2" alt="Responsive image">
        </div>
    </div>

    <br>

    <div class="row buttons">
        <div class="container mx-3 text-center">

            <a href="main/personal" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                <i class="bi bi-chevron-left"></i>
                <span class="mx-4" id="text">CHOSEN MBA <br>SCHOOLS</span> 
            </a>
            <a href="main/miscellaneous" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true"> 
                <span class="mx-4" id="text">MBA SURVEY <br> DATA ANALYSIS </span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                <i class="bi bi-chevron-right"></i>
            </a>

            <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"
                    id="goback">
                    Back to Top
                    <span class="mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                    </svg>
                        <i class="bi bi-chevron-compact-up mx-3"></i>
                    </span>
                </button>
            </span>

        </div>
    </div>

</div>