<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="my-4" id="mainhead1">Data Analysis</h1>
        </div>
    </div>

    <div class="row content" id="row_a">
        <div class="container">
            <div class="row subhead my-3" id="subhead1">
                Abhijeet
            </div> 
        </div>
    </div>

    <div class="row content" id="row_b">
        <div class="container   my-3 text-center">
            <img src="assets/images/ds1.png" class="img-fluid text-center" id="img1" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds2.jpeg" class="img-fluid text-center" id="img2" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds3.png" class="img-fluid text-center" id="img3" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds4.png" class="img-fluid text-center" id="img4" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds5.jpeg" class="img-fluid text-center" id="img5" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds6.png" class="img-fluid text-center" id="img6" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds7.png" class="img-fluid text-center" id="img7" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds8.png" class="img-fluid text-center" id="img8" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds9.png" class="img-fluid text-center" id="img9" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds10.jpeg" class="img-fluid text-center" id="img10" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds11.png" class="img-fluid text-center" id="img11" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds12.png" class="img-fluid text-center" id="img12" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds13.png" class="img-fluid text-center" id="img13" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds14.png" class="img-fluid text-center" id="img14" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds15.jpeg" class="img-fluid text-center" id="img15" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds16.png" class="img-fluid text-center" id="img16" alt="Responsive image">
        </div>
    </div>
    <br>

    <div class="row content" id="row_c">
        <div class="container">
            <div class="row subhead my-3" id="subhead1">
                MBA Abroad Survey 
            </div>
        </div>
    </div>

    <div class="row content" id="row_d">
        <div class="container   my-3 text-center">
            <img src="assets/images/ds17.png" class="img-fluid text-center" id="img17" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds18.png" class="img-fluid text-center" id="img18" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds19.png" class="img-fluid text-center" id="img19" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds20.png" class="img-fluid text-center" id="img20" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds21.png" class="img-fluid text-center" id="img21" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds22.png" class="img-fluid text-center" id="img22" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds23.png" class="img-fluid text-center" id="img23" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds24.png" class="img-fluid text-center" id="img24" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds25.png" class="img-fluid text-center" id="img25" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds26.png" class="img-fluid text-center" id="img26" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds27.png" class="img-fluid text-center" id="img27" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds28.png" class="img-fluid text-center" id="img28" alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row content" id="row_e">
        <div class="container">
            <div class="row subhead my-3" id="subhead1">
                MBA School Comparison Plots
            </div>
        </div>
    </div>

    <div class="row content" id="row_d">
        <div class="container   my-3 text-center">
            <img src="assets/images/ds29.png" class="img-fluid text-center" id="img29" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds30.png" class="img-fluid text-center" id="img30" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds31.png" class="img-fluid text-center" id="img31" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds32.png" class="img-fluid text-center" id="img32" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds33.png" class="img-fluid text-center" id="img33" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds34.png" class="img-fluid text-center" id="img34" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds35.png" class="img-fluid text-center" id="img35" alt="Responsive image">
        </div>
        <div class="container   my-3 text-center">
            <img src="assets/images/ds36.png" class="img-fluid text-center" id="img36" alt="Responsive image">
        </div>
    </div>
    <br>

    <div class="row buttons">
        <div class="container text-center">

            <a href="main/extracurriculars" class="btn btn-primary btn-sm forward mx-2 my-2" tabindex="-1" role="button" aria-disabled="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                <i class="bi bi-chevron-left"></i>
                <span class="mx-4" id="text">TIPS</span> 
            </a>

            <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
                <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"
                    id="goback">
                    Back to Top
                    <span class="mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                    </svg>
                        <i class="bi bi-chevron-compact-up mx-3"></i>
                    </span>
                </button>
            </span>

        </div>
    </div>

</div>